h1#titulo{
    text-align: center;
    color: white;
    margin-top: 10%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
}
body{
    background-color: rgb(71, 102, 148);
    font-family: Arial, Helvetica, sans-serif;
}
section{
    background-color: white;
    width: 500px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    padding: 15px
}
footer{
    text-align: center;
    color: white;
    margin-top: 5%;
}
div#msg{
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}