body{
    background-color: rgb(39, 98, 175);
    font-family: Arial, Helvetica, sans-serif;
}
#titulo{
    color: white;
    text-align: center;
    margin-top: 10%;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
}
section{
    background-color: white;
    width: 50vw;
    min-height: 25vh;
    margin: auto;
    padding: 3%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
}