@charset "UTF-8";
body{
    background-color: rgb(52, 86, 182);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color:white;
    text-align: center;
    margin-top: 10vh;
}
section{
    background-color: white;
    margin: auto;
    max-width: 500px;
    min-height: 40vh;
    padding: 5%;
    border-radius: 15%;
}
